<% if @query.present? or @categoria.present? %>
    <% if @pagina == 1 %>
        $('#noticias').empty();
    <% end %>
<% end %>

<% if @query.present? %>
    $('.query').val('<%= @query %>');
<% end %>

<% @noticias.each do |noticia| %>

    console.log('<%= noticia.to_json %>');

    if ($('#<%= noticia.id %>').length == 0) {
        $('#noticias').append("<a href='noticias/<%= noticia.url %>'> <h2 id='<%= noticia.id %>' class='noticia'> <%= noticia.titulo %> </h2> </a>");
    }
<% end %>

$('.pagina').val('<%= @pagina.to_i + 1 %>');