<% content_for :menu do %>
    <div id='menu-container'>
      <div id="menu"> ☰</div>
      <select id="selecione-categoria">
        <option selected> Selecione uma categoria</option>
      </select>
    </div>
<% end %>

<div id="pesquisar-container">
  <form action="/noticias/pesquisar" data-remote="true">
    <%= render 'pagina_hidden' %>
    <input type="text" name="query" class="query" placeholder="<%= t(:pesquise_aqui) %>">
    <input type="submit" class="botao botao-pesquisar" value="<%= t(:pesquisar) %>">
  </form>
</div>

<div id="noticias">
  <% @noticias.each do |noticia| %>
      <a href="noticias/<%= noticia.url %>">
        <h2 id='<%= noticia.url %>' class="noticia">
          <%= noticia.titulo %>
        </h2>
      </a>

  <% end %>
</div>

<div id="carregar-mais-container">
  <form action="/noticias" data-remote="true">
    <%= render 'pagina_hidden' %>
    <input type="hidden" name="query" class="query">
    <input type="submit" id="carregar-mais" class="botao" value="<%= t(:carregar_mais) %>">
  </form>
</div>