<form action="/noticias/search" data-remote="true">
  <%= render 'pagina_hidden' %>
  <input type="text" name="query" class="query" >
  <input type="submit" value="<%= t(:pesquisar) %>">
</form>


<div id="noticias">

  <% @noticias.each do |noticia| %>

      <h2 id='<%= noticia.url %>'><a href="noticias/<%= noticia.url %>">  <%= noticia.titulo %> </a></h2>

  <% end %>

</div>

<form action="/noticias" data-remote="true">
  <%= render 'pagina_hidden' %>
  <input type="hidden" name="query" class="query" >
  <input type="submit" value="<%= t(:carregar_mais) %>">
</form>
