$('#noticias').empty();

<% @noticias.each do |noticia| %>
    if ($('#<%= noticia.url %>').length == 0) {
        $('#noticias').append("<h2 id='<%= noticia.url %>'> <a href='noticias/<%= noticia.url %>'>  <%= noticia.titulo %> </a> </h2>");
    }
<% end %>

var query = $('#query').val();

$('#carregar_mais').remove();

if($('#carregar_mais_pesquisa').length == 0){
   $('#index').append("<form id='carregar_mais_pesquisa' action='/noticias' data-remote='true' >");
   $('#carregar_mais_pesquisa').append("<input type='hidden' name='pagina_pesquisa' id='pagina_pesquisa' value='1'>");
    $('#carregar_mais_pesquisa').append("<input type='hidden' name='query' id='query_carregar_mais' value='"+query +"'>");
    $('#carregar_mais_pesquisa').append("<input type='submit' value='<%= t(:carregar_mais) %>'>");
}

$('#pagina_pesquisa').val(parseInt($('#pagina_pesquisa').val()) + 1);