<!DOCTYPE html>
<html>
<head>
  <title>News - <%= @title %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>

  <%= render 'google-analytics' %>

</head>
<body>

<a href="/" class="link-topo">
    <div id="topo">
      <div id="titulo-container">
        <span id="titulo"> news </span>
      </div>
    </div>
</a>

<%= yield :menu %>

<div id="conteudo">
  <%= yield %>
</div>

<div id="rodape">
  <h3> As notícias são obtidas através do <a href="http://g1.globo.com/"> g1.com.br </a> </h3>
  <h3> Este sistema foi desenvolvido por <a href="https://sites.google.com/site/renandeandradevaz"> Renan Vaz </a> </h3>
  <h3> <a href="https://github.com/renandeandradevaz/news"> Link para o código do projeto no github </a> </h3>
</div>

<%= javascript_include_tag "application" %>

</body>
</html>
